In [1]:
import  pandas as pd

In [2]:
df = pd.DataFrame([[0, 1], [2, 3],[3,4]],
                                    index=['cat', 'dog','tiger'],
                                    columns=['weight', 'height'])

In [3]:
df

       weight  height
cat         0       1
dog         2       3
tiger       3       4

In [4]:
df.stack()

cat    weight    0
       height    1
dog    weight    2
       height    3
tiger  weight    3
       height    4
dtype: int64

# Series

In [20]:
# iterates the list

In [5]:
pd.Series([1,2,3,44,5])

0     1
1     2
2     3
3    44
4     5
dtype: int64

In [6]:
df = pd.DataFrame([[0, 1,'action'], [2, 3,'adv'],[3,4,'comedy']],
                                   
                                    columns=['weight', 'height','genres'])

In [7]:
df

   weight  height  genres
0       0       1  action
1       2       3     adv
2       3       4  comedy

In [8]:
genre=pd.DataFrame({'genre':[['action','adv','comedy'],['comedy','fiction'],['comedy','adv']]})

In [9]:
genre

                   genre
0  [action, adv, comedy]
1      [comedy, fiction]
2          [comedy, adv]

In [10]:
g=genre.apply(lambda x: pd.Series(x['genre']),axis=1)

In [11]:
g

        0        1       2
0  action      adv  comedy
1  comedy  fiction     NaN
2  comedy      adv     NaN

# Stack

In [12]:
s=g.stack()

In [13]:
s

0  0     action
   1        adv
   2     comedy
1  0     comedy
   1    fiction
2  0     comedy
   1        adv
dtype: object

In [14]:
k=s.reset_index(level=1,drop=True)

In [21]:
k

0     action
0        adv
0     comedy
1     comedy
1    fiction
2     comedy
2        adv
Name: genre, dtype: object

In [15]:
s.reset_index(level=0,drop=True)

0     action
1        adv
2     comedy
0     comedy
1    fiction
0     comedy
1        adv
dtype: object

In [16]:
k.name='genre'
df.join(k)

   weight  height  genres    genre
0       0       1  action   action
0       0       1  action      adv
0       0       1  action   comedy
1       2       3     adv   comedy
1       2       3     adv  fiction
2       3       4  comedy   comedy
2       3       4  comedy      adv